.captions-list {
  height: 800px;
  min-height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* TODO: Make sure this is cross-browser compatible */
.captions-list::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

.captions-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.6);
}

.captions-list::-webkit-scrollbar-thumb:hover {
  background: black;
}

.caption {
  display: flex;
  border-bottom: 1px solid #aaa;
  padding: 10px 5px;
  width: 360px;
}

.caption:hover {
  background: #f8f8f8;
}

.caption-highlighted {
  color: #ddd;
  border-left: 2px solid red;
}

.timestamps,
.caption-textbox {
  margin-top: 5px;
}

.timestamps {
  width: 80px;
}

.timestamps input {
  width: 70px;
  color: #888;
}

.caption input,
.caption-textbox {
  border: none;
  line-height: 13px;
  font-size: 14px;
  resize: none;
  overflow: hidden;
  box-shadow: none;
}

.timestamps input {
  text-align: center;
}

.caption-textbox {
  color: black;
  font-size: 13px;
  width: 250px;
  min-height: 47px;
  margin: 2px 0 8px;
  padding: 4px;
  line-height: 1.4;
}

.caption input,
.caption-textbox {
  background: transparent;
}

.caption input:focus,
.caption-textbox:focus {
  background: white;
  color: black;
  outline: 1px solid #ddd;
  box-shadow: none;
}

.caption-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
  text-align: center;
  opacity: 0.25;
}

.caption-options:hover {
  opacity: 1;
  transition: opacity 0.25s linear;
}

.caption-button {
  background: transparent;
  font-size: 18px;
  font-family: inherit;
  border: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}

.caption-button:hover {
  background: #ddd;
  border-radius: 50%;
  cursor: pointer;
}
