@(video_id: &str, lang: &str)

<html lang="en">
    <head>
        <title>Subtitle Editor</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    </head>
    <body>
        <div id="root"></div>
        <script>
            window.VIDEO_ID = "@video_id";
            window.SUBTITLE_LANG = "@lang";
        </script>
        @if std::env::var("ROCKET_ENV").map(|env| env == "development").unwrap() {
            <script type="module" src="http://localhost:8080/_dist_/index.js"></script>
            <script>window.HMR_WEBSOCKET_URL = "ws://localhost:8080"</script>
        } else {
            <script type="module" src="/js/build/__dist__/index.js"></script>
        }
    </body>
</html>